/* modo oscuro*/

body.darkmode{
    background: #111111;
    box-shadow: 0px 4px 16px 0px #0000001F;

}

.darkmode nav a:not(:last-child) {
    color: var(--color-lightgrey);
}

.darkmode main h1{
    color: var(--color-white);
}

.darkmode main p{
    color: var(--color-lightgrey);
}

.darkmode .btn_signup{
    color: var(--color-white);
    background: radial-gradient(circle at 100% 100%, #111111 0, #111111 23px, transparent 23px) 0% 0%/25px 25px no-repeat,
    radial-gradient(circle at 0 100%, #111111 0, #111111 23px, transparent 23px) 100% 0%/25px 25px no-repeat,
    radial-gradient(circle at 100% 0, #111111 0, #111111 23px, transparent 23px) 0% 100%/25px 25px no-repeat,
    radial-gradient(circle at 0 0, #111111 0, #111111 23px, transparent 23px) 100% 100%/25px 25px no-repeat,
    linear-gradient(#111111, #111111) 50% 50%/calc(100% - 4px) calc(100% - 50px) no-repeat,
    linear-gradient(#111111, #111111) 50% 50%/calc(100% - 50px) calc(100% - 4px) no-repeat,
    linear-gradient(90deg, #ff3998 0%, #FF8139 100%);
}

.darkmode .upsell_content p{
    color: var(--color-black);
}

.darkmode .showcase_title{
    color: var(--color-white);
}

.darkmode .showcase_text{
    color: var(--color-drakgrey);
}

.darkmode .showcase_text a{
    color: var(--color-drakgrey);
}

.darkmode .showcase_card_group{
    background: var(--color-black);
}

.darkmode .showcase_series{
    color: var(--color-orange);
}

.darkmode .showcase_ref{
    color: var(--color-greyregular);
}

.darkmode .showcase_bid{
    color: var(--color-greyregular);
}

.darkmode .showcase_day{
    color: var(--color-greyregular);
}

.darkmode .container_release1{
    background: #FF8139;
}

.darkmode .container_release1 p{
    color: var(--color-black);
}

.darkmode .container_release2{
    background: #39FFA0;
}

.darkmode .container_release2 p{
    color: #555555;
}

.darkmode .info_content{
    background: #555555;
}

.darkmode .info_content p{
    color: #CCCCCC;
}

.darkmode .logo{
    display: none;
}

.darkmode .footer_title{
    color: var(--color-white);
}

.darkmode .hero_text{
    color: var(--color-lightgrey);
}

.darkmode .titulo_footer{
    color: var(--color-white);
}

.darkmode .lista_footer{
    color: var(--color-white);
}

/*Mobile*/

@media (max-width: 500px){
    .darkmode .icon-menu{
        width: 2.em;
        padding: 1em;
        background: var(--color-white);
    }
    .darkmode .right{
        background: var(--color-black);
    }
    .darkmode .right h2{
        color: var(--color-white);
    }
}